extends layout

block content
   h1 Student

   ul.nav.nav-stacked
     li(role='features')
        a(href='/student_asses_test') Assessment Test
     li(role='features')
        a(href='/question_practice_test') Practice
