extends layout

block content
   h1 Teacher

   ul.nav.nav-stacked
     li(role='features')
        a(href='/student_list') Students
     li(role='features')
        a(href='/question_list') Questions
